<section>
    <div class="col-xs-4 photos-box">
        {# {{ez_field_value(content, 'location')}} #}
        <a href="#bikeModal{{ content.id }}" data-toggle="modal">
            {{ ez_render_field( content, 'place', { parameters: { 'alias': 'landmark_list', 'class': 'img-responsive img-rounded'}})
            }}
        </a>
    </div>

    {# MODAL #}
    <div class="bike-modal modal fade" id="bikeModal{{ content.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="modal-body text-center">
                            <h2>{{ content.name }}</h2>
                            <hr class="featurette-divider">
                            {{ ez_render_field( content, 'photo', { parameters: { 'alias': 'large'}, attr: { 'class': 'img-responsive img-rounded' }})
                            }}
                            {{ ez_render_field( content, 'description', { attr: { 'class': 'padding-box text-justify' }})
                            }}
                            {{ ez_render_field( content, 'location', { parameters: {'width': '100%', 'height': '250px', 'showMap': true, 'showInfo': false }})
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>